<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-buttons end style="margin-right: 2%;">
      <button ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="car"></ion-icon>
              <ion-title>Autom&oacute;vil</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-segment color="danger" [(ngModel)]="proceso">
    <ion-segment-button value="datos">
      DATOS
    </ion-segment-button>
    <ion-segment-button value="imagen">
      IMAGEN
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="proceso">
    <ion-grid *ngSwitchCase="'datos'" padding>
      <ion-list>
        <ion-item>
          <!-- <ion-label color="danger" floating>Ingrese n&uacute;mero de placa</ion-label> -->
          <ion-input [(ngModel)]="placa" color="danger" placeholder="PCC0123" clearInput></ion-input>
        </ion-item>
        <ion-item>

          <ion-select placeholder="Marca" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="marca">
            <ion-option value="chevrolet">Chevrolet</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>

          <ion-select placeholder="Modelo" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="modelo">
            <ion-option value="s1">S1</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>

          <ion-select placeholder="Color" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="color">
            <ion-option value="azul">Azul</ion-option>
            <ion-option value="negro">Negro</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <h5 color="danger" ion-text text-center (click)="goToImage()">SIGUIENTE</h5>
    </ion-grid>

    <ion-grid *ngSwitchCase="'imagen'" padding>
      <div *ngIf="carExists">

        <!-- <div class="relative">
          <img id="imgbck" src="assets/imgs/01.png">
          <ion-icon class="top-right" name="camera" color="iconos" (click)="goToCamera()"></ion-icon>
        </div> -->
        <img id="imgbck" src="assets/imgs/01.png"><br>
        <ion-row>
          <button small ion-button round color="primary" clear style="font-size:1.1rem;margin:auto;"
            (click)="goToCamera()">Cambiar imagen autom&oacute;vil</button>
        </ion-row>
      </div>
      <div *ngIf="!carExists" ion-text text-center>
        <div *ngIf="!preview">
          <ion-icon name="camera" id="camara" (click)="goToCamera()"></ion-icon>
          <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir una fotograf&iacute;a de su autom&oacute;vil
          </ion-label>
        </div>
      </div>
      <div *ngIf="preview">
        <div class="relative">
          <img id="imgbck" [src]="previewimg">
          <ion-icon class="top-right" name="camera" color="iconos" (click)="goToCamera()"></ion-icon>
        </div>
      </div>
      <button *ngIf="preview" ion-button round color="danger" large (click)="addAuto()">guardar</button>
    </ion-grid>
  </div>
</ion-content>