<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-buttons end style="margin-right: 2%;">
      <button ion-button (click)="viewCtrl.dismiss();">
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col text-left col-5>
          <ion-buttons start [hidden]="navParams.data.reserva">
            <button ion-button tappable (click)="showAlert()">
              <ion-icon name="information-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="car"></ion-icon>
              <ion-title>Autom&oacute;vil</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #f4f4f7;">
  <div *ngIf="editarBoton||addBoton" style="box-shadow: 0px 1px 11px -2px #ea6b7c;" padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;" (click)="closeDialogEditSave()">
        </ion-icon>
      </ion-col>
      <ion-col><strong style="font-size: 1.7rem;">
          Editar
        </strong></ion-col>
      <ion-col text-right>
        <ion-icon slot="icon-only" color="primary" name="checkmark" style="font-size: 1.8em;" (click)="saveAndEdit()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="myservices.carExists&&myservices.carExists!=undefined" style="padding: 0 40px;">
    <br>
    <h4 ion-text text-center>Autom&oacute;vil designado</h4>
    <ion-row [hidden]="navParams.data.reserva">
      <button small ion-button round color="danger" outline style="font-size:1.1rem;margin:auto;"
        (click)="actionEditButton()" *ngIf="!editarBoton">Editar autom&oacute;vil</button>
    </ion-row><br>
    <ion-card *ngIf="!editarBoton">
      <img *ngIf="!preview" class="imgbck" [src]="carObject.foto!=null||undefined?carObject.foto:'assets/imgs/car_null.png'">
      <ion-card-content text-center>
        <ion-card-title>{{carObject.placa}}</ion-card-title>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-start>
            <ion-icon color="iconos" name='car'></ion-icon>
            <ion-label color="dark">
              {{carObject.marca|lowercase}}
            </ion-label>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small icon-start>
            <ion-icon color="iconos" name='car'></ion-icon>
            <ion-label color="dark">
              {{carObject.modelo|lowercase}}
            </ion-label>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small icon-start>
            <ion-icon color="iconos" name='color-palette'></ion-icon>
            <ion-label color="dark">
              {{carObject.color|lowercase}}
            </ion-label>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>


    <form [formGroup]="contactForm">
      <img *ngIf="preview" id="imgbck" [src]="previewimg" style="width:100%">
      <ion-row *ngIf="editarBoton">
        <img *ngIf="!preview" class="imgbck" [src]="carObject.foto!=null||undefined?carObject.foto:'assets/imgs/car_null.png'">
        <button small ion-button round color="primary" clear id="subtitle" (click)="goToCamera()">Cambiar imagen
          autom&oacute;vil</button>
      </ion-row>
      <br>
      <ion-list *ngIf="editarBoton">
        <!-- traer valores desde las variables por que es edit -->
        <ion-item>
          <!-- <ion-label color="danger" floating>Ingrese n&uacute;mero de placa</ion-label> -->
          <ion-input formControlName="placa" [ngModel]="valplaca" (ngModelChange)="valplaca = $event.toUpperCase()"
            maxlength="7" color="danger" placeholder="PCC0123" clearInput>
          </ion-input>
        </ion-item>
        <ion-item>

          <ion-select placeholder="Marca" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="valmarca"
            [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="let obj of marca" [value]="obj.CODIGO" (ionSelect)="getMarcaModelo(obj.CODIGO)">
              {{obj.NOMBRE}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>

          <ion-select formControlName="modelo" placeholder="Modelo" cancelText="CANCELAR" interface="action-sheet">
            <ion-option *ngFor="let obj of modelo" [value]="obj.CODIGO">{{obj.NOMBRE}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>

          <ion-select formControlName="color" placeholder="Color" cancelText="CANCELAR" interface="action-sheet">
            <ion-option *ngFor="let obj of colores" [value]="obj">{{obj|titlecase}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div *ngIf="!myservices.carExists&&myservices.carExists!=undefined" ion-text text-center>
    <div *ngIf="!addBoton">
      <ion-icon name="add-circle" class="camara" (click)="addBoton=true;"></ion-icon>
      <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir datos de su autom&oacute;vil
      </ion-label>
    </div>
    <form [formGroup]="contactForm">
      <div *ngIf="addBoton">
        <div *ngIf="preview">
          <img id="imgbck" [src]="previewimg" style="width:100%">
          <ion-row>
            <button small ion-button round color="primary" clear id="subtitle" (click)="goToCamera()">Cambiar imagen
              autom&oacute;vil</button>
          </ion-row>
        </div>
        <div *ngIf="!preview">
          <ion-icon name="camera" class="camara" (click)="goToCamera()"></ion-icon>
          <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir una fotograf&iacute;a de su
            autom&oacute;vil
          </ion-label>
        </div>
        <ion-list>
          <!-- los datos vacios -->
          <ion-item>
            <!-- <ion-label color="danger" floating>Ingrese n&uacute;mero de placa</ion-label> -->
            <ion-input formControlName="placa" [ngModel]="valplaca" (ngModelChange)="valplaca = $event.toUpperCase()"
              maxlength="7" color="danger" placeholder="PCC0123" clearInput></ion-input>
          </ion-item>
          <ion-item>

            <ion-select placeholder="Marca" cancelText="CANCELAR" interface="action-sheet">
              <!-- <ion-option value="chevrolet">Chevrolet</ion-option> -->
              <ion-option *ngFor="let obj of marca" [value]="obj.CODIGO" (ionSelect)="getMarcaModelo(obj.CODIGO)">
                {{obj.NOMBRE}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>

            <ion-select formControlName="modelo" placeholder="Modelo" cancelText="CANCELAR" interface="action-sheet">
              <!-- <ion-option value="s1">S1</ion-option> -->
              <ion-option *ngFor="let obj of modelo" [value]="obj.CODIGO">{{obj.NOMBRE}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>

            <ion-select formControlName="color" placeholder="Color" cancelText="CANCELAR" interface="action-sheet">
              <ion-option *ngFor="let obj of colores" [value]="obj">{{obj|titlecase}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </form>
  </div>
</ion-content>