page-perfil {
  #circular {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: auto;
  }

  #circular img {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    //margin-left: -50px;
  }
  #centerImg {
    width: 100% !important;
    height: auto !important;
    padding: 5% 10%;
  }
  #descripcion {
    padding: 4% 10%;
  }

  #camara {
    color: #e5e5e5;
    font-size: 20vw;
    margin-top: 10vw;
  }
  .segmento {
    font-size: 2vw;
  }

  .relative {
    position: relative;
    text-align: center;
  }

  .top-right {
    font-size: 3rem;
    background: white;
    position: absolute;
    bottom: 0px;
    right: -2%;
    padding: 2%;
  }

  .imgbck {
    width: 100%;
    display: block;
    height: auto;
    border: 0;
  }

  #subtitle {
    font-size: 1.5rem;
    margin: auto;
    text-transform: initial;
    font-weight: normal;
  }

  ion-select.select {
    width: 100%;
    max-width: 100%;
  }

  #showicon {
    font-size: 2.5em;
  }
  #showicon ion-label {
    font-size: 1.4rem;
  }

}
