<ion-header>

  <ion-navbar color="danger" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="contact"></ion-icon>
              <ion-title>Perfil</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f4f4f7;">
  <div *ngIf="editarBoton" style="box-shadow: 0px 1px 11px -2px #ea6b7c;" padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;" (click)="closeDialogEditSave()">
        </ion-icon>
      </ion-col>
      <ion-col><strong style="font-size: 1.7rem;">
          <div *ngIf="editarBoton">Editar</div>
          <div *ngIf="addBoton||!profileExists">Guardar</div>
        </strong></ion-col>
      <ion-col text-right>
        <ion-icon slot="icon-only" color="primary" name="checkmark" style="font-size: 1.8em;" (click)="saveAndEdit()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <br><br>
  <div id="circular">
    <img class="imgbck" [src]="myservices.userData.foto!=null?myservices.userData.foto:'assets/imgs/blank-avatar.png'">
  </div>

  <h4 style="margin-bottom: 1%;" ion-text text-center>{{myservices.userData.primer_nombre|titlecase}}
    {{myservices.userData.segundo_nombre|titlecase}}
    {{myservices.userData.primer_apellido|titlecase}}</h4>

  <ion-row>
    <button (click)="actionEditButton()" *ngIf="!editarBoton" small ion-button round color="danger" outline
      style="font-size:1.1rem;margin:auto;">Editar perfil</button>
  </ion-row>
  <br>

  <div style="padding: 0px 30px;">

    <div *ngIf="!editarBoton">
      <ion-card>
        <ion-card-header>
          Preferencias
        </ion-card-header>
        <ion-card-content style="padding: 0px 13px 0px;">
          <div text-center>
            <ion-row id="showicon">
              <ion-col *ngFor="let obj of preferenciasObjetos">
                <ion-label><strong>{{obj.titulo}}</strong></ion-label>
                <ion-icon [style.color]="obj.nivel==1?'#e6bcbc':(obj.nivel==2?'#ea6b7c':'red')" [name]="obj.iconos">
                </ion-icon>
                <ion-label style="font-size: 1rem;">
                  {{obj.nivel==1?'Nada':(obj.nivel==2?'Poco':'Mucho')}}
                </ion-label>
              </ion-col>
            </ion-row>
          </div> <!-- preferencias -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Informaci&oacute;n personal
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-icon slot="icon-only" name="call" style="font-size: 1.8em;" color="iconos"></ion-icon>
            <ion-col>
              <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{myservices.userData.celular}}</strong>
            </ion-col>
            <ion-col *ngIf="conductor" (click)="goToAuto()">
              <button ion-button icon-start round outline color="iconos">
                <ion-icon name="car"></ion-icon>
                Veh&iacute;culo
              </button>
            </ion-col>
          </ion-row> <!-- celular -->
        </ion-card-content>
      </ion-card> <!-- informacion personal -->

      <ion-card>
        <ion-card-header>
          Acad&eacute;mico
        </ion-card-header>
        <ion-card-content>
          {{myservices.userData.dependencia}}
        </ion-card-content>
      </ion-card>
    </div> <!-- group cuando no es editar -->



    <div *ngIf="editarBoton" style="padding: 0px 20px;">
      <ion-grid *ngFor="let obj of preferenciasObjetos">
        <ion-row radio-group (ionChange)="rbngroupPreferencias($event,obj)">
          <ion-col col-4><strong>{{obj.titulo}}</strong></ion-col>
          <ion-col col-2>
            <ion-icon style="color: #e6bcbc;" [name]="obj.iconos" small></ion-icon>
            <br>
            <ion-radio [checked]="obj.nivel==1" color="danger" value="1"></ion-radio>
          </ion-col>
          <ion-col col-2>
            <ion-icon style="font-size: 1.8em;color: #ea6b7c;" [name]="obj.iconos">
            </ion-icon><br>
            <ion-radio [checked]="obj.nivel==2" color="danger" value="2"></ion-radio>
          </ion-col>
          <ion-col>
            <ion-icon style="font-size: 2.3em;color: red;" [name]="obj.iconos"></ion-icon><br>
            <ion-radio [checked]="obj.nivel==3" color="danger" value="3"></ion-radio>
          </ion-col>
        </ion-row>
      </ion-grid> <!-- preferencias -->


      <ion-row>
        <ion-icon slot="icon-only" name="call" style="font-size: 1.8em;" color="iconos"></ion-icon>
        <ion-col style="background-color: #ebebeb;" col-5>
          <ion-input type="tel" maxlength="10" [(ngModel)]="telefono" color="danger" placeholder="Telefono celular"
            clearInput>
          </ion-input>
        </ion-col>
      </ion-row> <!-- celular -->
    </div> <!-- group solo para editar -->


  </div> <!-- group desde preferences -->

</ion-content>