<ion-header>

  <ion-navbar color="danger" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="contact"></ion-icon>
              <ion-title>Perfil</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="conductor">
  <ion-segment *ngIf="!editarBoton&&!addBoton" color="danger" [(ngModel)]="detalle">
    <ion-segment-button value="datos" class="segmento">
      DATOS
    </ion-segment-button>
    <ion-segment-button value="automovil" class="segmento">
      AUTOMOVIL
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="editarBoton||addBoton" style="box-shadow: 0 4px 2px -2px #e0e0e0;" padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;" (click)="closeDialogEditSave()">
        </ion-icon>
      </ion-col>
      <ion-col><strong style="font-size: 1.7rem;">
          <div *ngIf="editarBoton">Editar</div>
          <div *ngIf="addBoton||!profileExists">Guardar</div>
        </strong></ion-col>
      <ion-col text-right>
        <ion-icon slot="icon-only" color="primary" name="checkmark" style="font-size: 1.8em;" (click)="saveAndEdit()">
        </ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div [ngSwitch]="detalle">
    <ion-grid id="descripcion" *ngSwitchCase="'datos'">

      <div id="circular">
        <img class="imgbck" src="{{perfil_val.fotografia}}">
      </div>

      <h4 style="margin-bottom: 1%;" ion-text text-center>{{perfil_val.nombre}}</h4>
      <div *ngIf="profileExists">
        <ion-row>
          <button (click)="actionEditButton()" *ngIf="!editarBoton" small ion-button round color="danger" outline
            style="font-size:1.1rem;margin:auto;">Editar perfil</button>
        </ion-row>

        <br>
        <h5>Informaci&oacute;n personal</h5><br>
        <ion-row>
          <ion-col *ngIf="!editarBoton">
            {{perfil_val.informacion}}
          </ion-col>
          <ion-textarea style="background-color: #ebebeb;" *ngIf="editarBoton" rows="4" cols="20"
            [(ngModel)]="personalData" color="danger"
            placeholder="Ingrese informacion reeveante acerca de usted con respecto a un viaje Ej. Me gusta, no me gusta, no se permite fumar  ">
          </ion-textarea>
        </ion-row><br><br>
        <ion-row>
          <ion-icon slot="icon-only" name="call" style="font-size: 1.8em;" color="iconos"></ion-icon>
          <ion-col *ngIf="!editarBoton">
            <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{perfil_val.telefono}}</strong>
          </ion-col>
          <ion-col *ngIf="editarBoton" style="background-color: #ebebeb;" col-5>
            <ion-input type="tel" [(ngModel)]="telefono" color="danger" placeholder="Telefono celular" clearInput>
            </ion-input>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="!profileExists">
        <br>
        <h5>Informaci&oacute;n personal</h5><br>
        <ion-row>
          <ion-textarea style="background-color: #ebebeb;" rows="4" cols="20"
            [(ngModel)]="personalData" color="danger"
            placeholder="Ingrese informacion personal. Ej. Me gusta la puntulidad, no me gusta..., no se permite fumar ">
          </ion-textarea>
        </ion-row><br><br>
        <ion-row>
          <ion-icon slot="icon-only" name="call" style="font-size: 1.8em;" color="iconos"></ion-icon>
          <ion-col style="background-color: #ebebeb;" col-5>
            <ion-input type="tel" [(ngModel)]="telefono" color="danger" placeholder="Telefono celular" clearInput>
            </ion-input>
          </ion-col>
        </ion-row>

      </div>
      <h5>Informaci&oacute;n acad&eacute;mica</h5>
      <div>
        <ion-row>
          <ion-col col-4>
            <p><strong>Ocupaci&oacute;n</strong></p>
            <p><strong>Facultad</strong></p>
            <p><strong>Carrera</strong></p>
          </ion-col>
          <ion-col>
            <p> {{perfil_val.ocupacion}}</p>
            <p> {{perfil_val.facultad}}</p>
            <p> {{perfil_val.carrera}}</p>
          </ion-col>
        </ion-row>
      </div>



    </ion-grid>

    <ion-grid *ngSwitchCase="'automovil'" style="padding: 2% 10%;">
      <div *ngIf="carExists" text-center>
        <br>
        <h4 ion-text>Autom&oacute;vil designado</h4>
        <ion-row>
          <button small ion-button round color="danger" outline style="font-size:1.1rem;margin:auto;"
            (click)="editarBoton=true;" *ngIf="!editarBoton">Editar autom&oacute;vil</button>
        </ion-row><br>
        <!-- <div class="relative">
          
          <ion-icon class="top-right" name="create" color="iconos"></ion-icon>
        </div> -->
        <img *ngIf="!preview" class="imgbck" src="{{perfil_val.auto.imagen}}">
        <img *ngIf="preview" id="imgbck" [src]="previewimg">
        <ion-row *ngIf="editarBoton">
          <button small ion-button round color="primary" clear id="subtitle" (click)="goToCamera()">Cambiar imagen
            autom&oacute;vil</button>
        </ion-row>
        <div *ngIf="!editarBoton">
          <h6 ion-text>{{perfil_val.auto.marca}} {{perfil_val.auto.modelo}}</h6>
          <span ion-text>{{perfil_val.auto.color}}</span>
        </div>
        <br>
        <ion-list *ngIf="editarBoton">
          <!-- traer valores desde las variables por que es edit -->
          <ion-item>
            <!-- <ion-label color="danger" floating>Ingrese n&uacute;mero de placa</ion-label> -->
            <ion-input [(ngModel)]="placa" color="danger" placeholder="PCC0123" clearInput></ion-input>
          </ion-item>
          <ion-item>

            <ion-select placeholder="Marca" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="marca">
              <ion-option value="chevrolet">Chevrolet</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>

            <ion-select placeholder="Modelo" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="modelo">
              <ion-option value="s1">S1</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>

            <ion-select placeholder="Color" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="color">
              <ion-option value="azul">Azul</ion-option>
              <ion-option value="negro">Negro</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="!carExists" ion-text text-center>
        <div *ngIf="!addBoton">
          <ion-icon name="add-circle" id="camara" (click)="addBoton=true;"></ion-icon>
          <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir datos de su autom&oacute;vil
          </ion-label>
        </div>
        <div *ngIf="addBoton">
          <div *ngIf="preview">
            <img id="imgbck" [src]="previewimg">
            <ion-row>
              <button small ion-button round color="primary" clear id="subtitle" (click)="goToCamera()">Cambiar imagen
                autom&oacute;vil</button>
            </ion-row>
          </div>
          <div *ngIf="!preview">
            <ion-icon name="camera" id="camara" (click)="goToCamera()"></ion-icon>
            <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir una fotograf&iacute;a de su
              autom&oacute;vil
            </ion-label>
          </div>
          <ion-list>
            <!-- los datos vacios -->
            <ion-item>
              <!-- <ion-label color="danger" floating>Ingrese n&uacute;mero de placa</ion-label> -->
              <ion-input [(ngModel)]="placa" color="danger" placeholder="PCC0123" clearInput></ion-input>
            </ion-item>
            <ion-item>

              <ion-select placeholder="Marca" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="marca">
                <ion-option value="chevrolet">Chevrolet</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>

              <ion-select placeholder="Modelo" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="modelo">
                <ion-option value="s1">S1</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>

              <ion-select placeholder="Color" cancelText="CANCELAR" interface="action-sheet" [(ngModel)]="color">
                <ion-option value="azul">Azul</ion-option>
                <ion-option value="negro">Negro</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>

        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="!conductor">
  <div style="box-shadow: 0 4px 2px -2px #e0e0e0;" padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;"></ion-icon>
      </ion-col>
      <ion-col><strong style="font-size: 1.7rem;">Editar perfil</strong></ion-col>
      <ion-col text-right>
        <ion-icon slot="icon-only" color="primary" name="checkmark" style="font-size: 1.8em;"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div id="descripcion">
    <div id="circular">
      <img src="{{perfil_val.fotografia}}">
    </div>
    <h4 style="margin-bottom: 1%;" ion-text text-center>{{perfil_val.nombre}}</h4>
    <ion-row>
      <button small ion-button round color="danger" outline style="font-size:1.1rem;margin:auto;">Editar
        perfil</button>
    </ion-row><br>
    <h5>Informaci&oacute;n personal</h5><br>
    <ion-row>
      <ion-col>
        {{perfil_val.informacion}}
      </ion-col>

    </ion-row><br><br>
    <ion-row>
      <ion-col>
        <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{perfil_val.telefono}}</strong>
      </ion-col>
    </ion-row>
  </div>
  <div style="padding: 0 10%;">
    <ion-row>
      <ion-col col-4>
        <p><strong>Ocupaci&oacute;n</strong></p>
        <p><strong>Facultad</strong></p>
        <p><strong>Carrera</strong></p>
      </ion-col>
      <ion-col>
        <p> {{perfil_val.ocupacion}}</p>
        <p> {{perfil_val.facultad}}</p>
        <p> {{perfil_val.carrera}}</p>
      </ion-col>
    </ion-row>

  </div>

</ion-content>