<ion-header>

  <ion-navbar color="danger" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="contact"></ion-icon>
              <ion-title>Perfil</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="conductor">
  <ion-segment color="danger" [(ngModel)]="detalle">
    <ion-segment-button value="datos" class="segmento">
      DATOS
    </ion-segment-button>
    <ion-segment-button value="academico" class="segmento">
      ACADEMICO
    </ion-segment-button>
    <ion-segment-button value="automovil" class="segmento">
      AUTOMOVIL
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detalle">
    <ion-grid id="descripcion" *ngSwitchCase="'datos'">

      <div id="circular">
        <img src="{{perfil_val.fotografia}}">
      </div>

      <h4 ion-text text-center>{{perfil_val.nombre}}</h4><br>
      <h5>Informaci&oacute;n personal</h5><br>
      <ion-row>
        <ion-col>
          {{perfil_val.informacion}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="'academico'" style="padding: 8% 10%;">
      <ion-row>
        <ion-col col-4>
          <p><strong>Ocupaci&oacute;n</strong></p>
          <p><strong>Facultad</strong></p>
          <p><strong>Carrera</strong></p>
        </ion-col>
        <ion-col>
          <p> {{perfil_val.ocupacion}}</p>
          <p> {{perfil_val.facultad}}</p>
          <p> {{perfil_val.carrera}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-icon start name="call" color="iconos" style="font-size: 1.6em;"></ion-icon>
        <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{perfil_val.telefono}}</strong>
      </ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="'automovil'" style="padding: 8% 10%;">
      <div *ngIf="addautomovil" text-center>
        <h6 ion-text>Autom&oacute;vil designado</h6>
        <ion-row align-items-center>
          <ion-col id="auto">
            <img src="{{perfil_val.auto.imagen}}" id="centerImg">
          </ion-col>
        </ion-row>
        <h6 ion-text>{{perfil_val.auto.marca}} {{perfil_val.auto.modelo}}</h6>
        <span ion-text>{{perfil_val.auto.color}}</span>
      </div>
      <div *ngIf="!addautomovil" ion-text text-center>
        <div (click)="goToAuto()">
          <ion-icon name="add-circle" id="camara"></ion-icon>
          <ion-label style="color:#c4bdbb;font-size: 3.1vw;">A&ntilde;adir los datos de su autom&oacute;vil
          </ion-label>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="!conductor">
  <div id="descripcion">
    <div id="circular">
      <img src="{{perfil_val.fotografia}}">
    </div>
    <h4 ion-text text-center>{{perfil_val.nombre}}</h4><br>
    <h5>Informaci&oacute;n personal</h5><br>
    <ion-row>
      <ion-col>
        {{perfil_val.informacion}}
      </ion-col>
    </ion-row>
  </div>
  <div style="padding: 0 10%;">
    <ion-row>
      <ion-col col-4>
        <p><strong>Ocupaci&oacute;n</strong></p>
        <p><strong>Facultad</strong></p>
        <p><strong>Carrera</strong></p>
      </ion-col>
      <ion-col>
        <p> {{perfil_val.ocupacion}}</p>
        <p> {{perfil_val.facultad}}</p>
        <p> {{perfil_val.carrera}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-icon start name="call" color="iconos" style="font-size: 1.6em;"></ion-icon>
      <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{perfil_val.telefono}}</strong>
    </ion-row>
  </div>

</ion-content>