<ion-header>
  <ion-navbar color="danger" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="person"></ion-icon>
              <ion-title>Viajes reservados</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let item of viajes_reservados">
    <ion-card-content text-center>
      <ion-card-title>
        <ion-row>
          <ion-col>
            {{item.origen}}
          </ion-col>
          <ion-col col-1>
            <ion-icon name="arrow-round-forward" id="arrow" color="iconos"></ion-icon>
          </ion-col>
          <ion-col>
            {{item.destino}}
          </ion-col>
        </ion-row>
      </ion-card-title>
      <p>
        {{item.hora}} &nbsp;&nbsp;&nbsp; <strong>{{item.fecha}}</strong>
      </p>
      <ion-badge *ngIf="item.estado === 1" color="aprobado">Aprobado</ion-badge>
      <ion-badge *ngIf="item.estado === 0" color="danger">No aprobado</ion-badge>
      <ion-badge *ngIf="item.estado >1" color="espera">En espera</ion-badge>
      <!-- <strong ion-text color="black">{{returnestado(item.estado)}}</strong> -->
    </ion-card-content>
    <div id="foot">
      <ion-row>
        <ion-col text-center>
          <button ion-button clear color="iconos" icon-start (click)="goToDriver(item.id)">
            <ion-icon name='person'></ion-icon>
            Conductor
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear color="iconos" icon-start (click)="goToDetails(item.id)">
            <ion-icon name='list-box'></ion-icon>
            Detalles
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

</ion-content>