<ion-content>
  <ion-segment color="danger" [(ngModel)]="proceso" (click)="updateVal()">
    <ion-segment-button value="ruta">
      RUTA
    </ion-segment-button>
    <ion-segment-button value="lugares">
      LUGARES DE PASO
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="proceso">
    <ion-grid *ngSwitchCase="'lugares'" padding>
      <br>
      <ion-searchbar color="danger" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
        placeholder="Ejemplo: Ibarra Parque Pedro Moncayo"></ion-searchbar>

      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
      <p ion-text *ngIf="predictionsLugares == null" color="danger" style="font-size: 1.3rem;">En caso de no encontrar
        resultados, anteceder la ciudad de b&uacute;squeda <br>Ejemplo: Ibarra Terminal Terrestre o Quito Avenida Simon
        Bolivar</p>
      <!-- listar los lugares que se vayan anadiendo -->
      <br><br>
      <ion-list *ngIf="autocompleteItems.length == 0">
        <ion-item-sliding *ngFor="let obj of routeCreate.lugares">
          <ion-item no-lines *ngFor="let obj of routeCreate.lugares">
            <ion-icon name="pin" item-start small color="iconos"></ion-icon>
            <!-- <ion-icon name="trash" item-end small color="iconos" (click)="deletePlace(obj.id)"></ion-icon> -->
            <h2>{{obj.nombreCorto}}</h2>
            <p style="font-size: 0.7em !important;">{{obj.nombreExtenso}}</p>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deletePlace(obj.id)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
          <br><br>
        </ion-item-sliding>
      </ion-list>
    </ion-grid>
  </div>


  <div #map_canvas id="map_canvas">
  </div>


</ion-content>

<ion-footer *ngIf="proceso == 'ruta'">
  <ion-toolbar color="white">
    <ion-list>
      <ion-item no-lines>
        <ion-icon name="pin" color="iconos" item-start></ion-icon>
        <ion-card>
          <ion-item color="destinocard">
            {{origenDir}}
          </ion-item>
        </ion-card>
      </ion-item>

      <ion-item no-lines>
        <ion-icon name="home" color="iconos" item-start></ion-icon>
        <ion-card>
          <ion-item color="destinocard">
            {{destinoDir}}
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col *ngIf="routeCreate.lugares.length>1" text-center (click)="goToAceptar()"><strong ion-text
            color="danger">ACEPTAR</strong></ion-col>
        <!-- <ion-col *ngIf="routeCreate.lugares.length==0" text-center (click)="goToModalLugViaje()"><strong ion-text
            color="danger">CONTINUAR</strong></ion-col> -->
        <ion-col></ion-col>
        <ion-col *ngIf="routeCreate.lugares.length>1" text-center (click)="goToCancel()"><strong ion-text
            color="danger">CANCELAR</strong></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>