<ion-header>
  <ion-navbar color="danger">
    <ion-buttons end>
      <button ion-button tappable (click)="showAlert()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="white" style="padding: unset;box-shadow: 0px 1px 11px -2px #ea6b7c;">
    <ion-row style="padding: 5px;margin-top: 30px;">
      <ion-col col-1></ion-col>
      <ion-col style="border: 1.5px solid #f1f1f1;border-radius: 10px;" (click)="goToPlaces()">
        <ion-list>
          <ion-item no-lines style="padding-left: 5px;">
            <ion-icon small name="checkmark-circle" color="iconos" item-start></ion-icon>
            <ion-label>
              {{routeCreate.origen.full_name}}
            </ion-label>
          </ion-item>

          <div *ngIf="routeCreate.lugares.length>=1">
            <ion-item style="padding-left: 30px;" *ngFor="let obj of routeCreate.lugares">
              <ion-icon small name="checkmark-circle" color="iconos" item-start></ion-icon>
              <ion-label>
                {{obj.mainName}}
              </ion-label>
            </ion-item>
          </div>

          <ion-item no-lines style="padding-left: 5px;">
            <ion-icon small name="checkmark-circle" color="iconos" item-start></ion-icon>
            <ion-label>
              {{routeCreate.destino.full_name}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-1 text-center>
        <!-- <ion-icon style="font-size: 1.7em;" color="black" name="add-circle"></ion-icon> -->
      </ion-col>
    </ion-row>
    <br>

    <ion-grid style="border-top: 1.5px solid #f1f1f1;">
      <ion-row>
        <ion-col></ion-col>
        <ion-col *ngIf="routeCreate.lugares.length>1" text-center (click)="goToAceptar()"><strong ion-text
            color="danger">ACEPTAR</strong></ion-col>
        <!-- <ion-col *ngIf="routeCreate.lugares.length==0" text-center (click)="goToModalLugViaje()"><strong ion-text
            color="danger">CONTINUAR</strong></ion-col> -->
        <ion-col *ngIf="routeCreate.lugares.length>1"></ion-col>
        <ion-col text-center (click)="goToCancel()"><strong ion-text color="danger">CANCELAR</strong></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map_canvas id="map_canvas">
  </div>

</ion-content>