page-home-c-view-ruta {
    #map_canvas {
        height: 100%;
        width: 100%;
      }
      .card{
        box-shadow: none;
        -webkit-box-shadow:none; 
        margin: 0px;
    }
    .label-md {
        margin: 0px 0px 0px 0;
    }

    ion-content .text {
        font-size: 1rem;
    
    }


    ion-footer .list{

        margin: 16px 0 16px;
    }

    .grid{
        margin-bottom: 15px;
    }
}
