ion-icon {
    &[class*="custom-"] {
       mask-size: contain;
       mask-position: 50% 50%;
       mask-repeat: no-repeat;
       background: white;
       width: 50%;
       height: 40%;
    }
    &[class*="custom-origen-icon"] {
       mask-image: url(/assets/imgs/icons/origen.svg);
    }
    &[class*="custom-destino-icon"] {
        mask-image: url(/assets/imgs/icons/destino.svg);
     }
     &[class*="custom-rectangle-icon"] {
        mask-image: url(/assets/imgs/icons/rectangle.svg);
     }
    
 }