<ion-header>
  <ion-navbar color="danger">

  </ion-navbar>
  <ion-toolbar color="white">
    <ion-list>
      <ion-item no-lines>
        <ion-icon name="pin" color="iconos" item-start></ion-icon>
        <ion-card *ngIf="myservices.utnOrigen">
          <ion-item color="origencard">
            Universidad T&eacute;cnica del Norte
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!myservices.utnOrigen">
          <ion-item color="destinocard">
            <span ion-text color="ortext">Seleccione su origen</span>
          </ion-item>
        </ion-card>
      </ion-item>
      <ion-item no-lines>
        <ion-icon name="home" color="iconos" item-start></ion-icon>
        <ion-card *ngIf="myservices.utnOrigen">
          <ion-item color="destinocard">
            <span ion-text color="ortext">Seleccione su destino</span>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!myservices.utnOrigen">
          <ion-item color="origencard">
            Universidad T&eacute;cnica del Norte
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="myservices.utnOrigen">
    <!-- <ion-item-sliding #slidingItem> -->
    <ion-item *ngIf="casa" (click)="goToViewRoute(true)">
      <ion-icon name="home" color="iconos" item-start></ion-icon>
      <button item-end ion-button color="danger" clear
        (click)="goToSetMap(false);$event.stopPropagation();">editar</button>
      <!-- <ion-icon name="create" item-end small color="iconos" (click)="editHome(false,slidingItem)"></ion-icon> -->
      <h2>Casa</h2>
      <p ion-text>{{casaObject.full_name}}</p>
    </ion-item>


    <ion-item *ngIf="!casa" (click)="goToSetMap(false)">
      <ion-icon name="home" color="iconos" item-start></ion-icon>
      <h2>Casa</h2>
      <p ion-text color="iconos"> <strong>A&ntilde;adir direcci&oacute;n</strong></p>
    </ion-item>

    <ion-item (click)="goToSetMap(true)">
      <ion-icon name="map" color="iconos" item-start></ion-icon>
      Seleccionar mapa
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!myservices.utnOrigen">
    <ion-item (click)="goToViewRoute(false)" tappable>
      <ion-icon name="locate" color="primary" item-start></ion-icon>
      Tu ubicaci&oacute;n actual
    </ion-item>
    <!-- <ion-item-sliding #slidingItem> -->
    <ion-item *ngIf="casa" (click)="goToViewRoute(true)">
      <ion-icon name="home" color="iconos" item-start></ion-icon>
      <button item-end ion-button color="danger" clear
        (click)="goToSetMap(false);$event.stopPropagation();">editar</button>
      <!-- <ion-icon name="create" item-end small color="iconos" (click)="editHome(false,slidingItem)"></ion-icon> -->
      <h2>Casa</h2>
      <p ion-text>{{casaObject.full_name}}</p>
    </ion-item>

    <ion-item *ngIf="!casa" (click)="goToSetMap(false)">
      <ion-icon name="home" color="iconos" item-start></ion-icon>
      <h2>Casa</h2>
      <p ion-text color="iconos"> <strong>A&ntilde;adir direcci&oacute;n</strong></p>
    </ion-item>
    <ion-item (click)="goToSetMap(true)">
      <ion-icon name="map" color="iconos" item-start></ion-icon>
      Seleccionar mapa
    </ion-item>
  </ion-list>

</ion-content>