page-viajes-origen {
    .card{
        box-shadow: none;
        -webkit-box-shadow:none; 
        margin: 0px;
    }
    .label-md {
        margin: 0px 0px 0px 0;
    }

    ion-content .text {
        font-size: 1rem;
    
    }
    
}






