<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar style="padding:0 16px 0;">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <div id="circular">
              <img src="assets/imgs/1.png">
            </div>
          </ion-col> 
          <ion-col>
            <h5 ion-text style="margin: 10% 0;">{{PrimerNombre}}Bertil</h5>
            <h5 ion-text>{{SegundoNombre}}Tandayamo</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content padding id="content-menu">
    <ion-list no-lines>
      <div *ngIf="conductor">
        <button id="item-button" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.component)">
          <ion-icon [name]="p.icono" item-start></ion-icon>
          {{p.title}}
        </button>
      </div>
      <div *ngIf="pasajero">
        <button id="item-button" menuClose ion-item *ngFor="let p of pages_pas" (click)="openPage(p.component)">
          <ion-icon [name]="p.icono" item-start></ion-icon>
          {{p.title}}
        </button>
      </div>
      <button id="item-button" ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label>Conductor</ion-label>
        <ion-toggle [(ngModel)]="radiobtn" color="danger" (ngModelChange)="activatechangeMode($event)"></ion-toggle>
      </button>
      <button id="item-button" menuClose ion-item (click)="gotoLogin()">
        <ion-icon name="exit" item-start></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>