// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/icons";

.alert-message,
.alert-head {
  text-align: center !important;
}

.action-sheet-cancel span.button-inner {
  color: red !important;
  font-weight: bold !important;
}

.picker-wrapper .picker-button,
.picker-opt.picker-opt-selected {
  color: red !important;
}

.alert-md .alert-button {
  color: #424242;
  font-weight: none !important;
  text-transform: none;
  font-weight: none;
  font-size: 17px;
}

page-menu {
  #toolbar-back,
  #item-button,
  #content-menu {
    background-color: #d5cdcb;
  }

  .toolbar-title {
    color: black;
  }
  .toolbar-background {
    background: #d5cdcb;
  }

  #circular {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  #circular img {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    //margin-left: -50px;
  }
}
