<ion-menu [content]="content" *ngIf="myservices.userData!=undefined">
  <ion-header>
    <ion-toolbar style="padding:0 16px 0;">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <div id="circular">
              <img [src]="myservices.userData.foto!=null?myservices.userData.foto:'assets/imgs/blank-avatar.png'">
            </div>
          </ion-col> 
          <ion-col style="padding-top: 5%;">
            <strong ion-text style="font-size: 1.7rem;">{{myservices.userData.primer_nombre|titlecase }} {{myservices.userData.segundo_nombre|titlecase }} {{myservices.userData.primer_apellido|titlecase }}</strong>
            <p style="font-size: 1.2rem; margin: 0;">
              {{myservices.userData.email}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content padding id="content-menu">
    <ion-list no-lines>
      <div *ngIf="conductor">
        <button id="item-button" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icono" item-start></ion-icon>
          {{p.title}}
        </button>
      </div>
      <div *ngIf="!conductor">
        <button id="item-button" menuClose ion-item *ngFor="let p of pages_pas" (click)="openPage(p)">
          <ion-icon [name]="p.icono" item-start></ion-icon>
          {{p.title}}
        </button>
      </div>
      <button id="item-button" ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label>Conductor</ion-label>
        <ion-toggle [(ngModel)]="radiobtn" color="danger" (ngModelChange)="activatechangeMode($event)"></ion-toggle>
      </button>
      <button id="item-button" menuClose ion-item (click)="gotoLogin()">
        <ion-icon name="exit" item-start></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>