page-viajes-origen-destino {
    .toolbar-title-md {
        font-size: 1.8rem !important; // Default should be 2.0rem
    }
    .border-bottom {
        border-bottom: 1px solid rgba(86, 61, 124, 0.1);
    }  
    ion-content {
        background-image: url('../../assets/imgs/bck_utn.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size:cover;
    }
}

