<ion-header>
  <ion-navbar color="danger" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons left>
            <button ion-button icon-only clear>
              <ion-icon name="car"></ion-icon>
              <ion-title>Viajes publicados</ion-title>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>

<ion-content>
  <h3 style="margin-top: 10%;" *ngIf="respuesta==0" ion-text text-center color="danger">Todav&iacute;a no has publicado
    ning&uacute;n viaje</h3>
  <ion-card *ngFor="let item of viajesPubObjectArray" [hidden]="respuesta==0">
    <ion-card-content text-center>
      <ion-card-title>
        <ion-row>
          <ion-col>
            {{item.origen.short_name}}
          </ion-col>
          <ion-col col-1>
            <ion-icon name="arrow-round-forward" id="arrow" color="iconos"></ion-icon>
          </ion-col>
          <ion-col>
            {{item.destino.short_name}}
          </ion-col>
        </ion-row>
      </ion-card-title>
      <p>
        {{item.adicional.hora}} &nbsp;&nbsp;&nbsp; <strong>{{item.adicional.fecha|titlecase}}</strong>
      </p>
    </ion-card-content>

    <ion-row id="foot">
      <!-- <ion-col text-right>
        <button ion-button clear color="iconos" icon-start>
          <ion-icon name='create'></ion-icon>
          Editar
        </button>
      </ion-col> -->
      <ion-col text-center>
        <button ion-button round outline color="iconos" icon-start
          (click)="deleteviajeAlert(item.adicional.codigo_viaje)">
          <ion-icon name='trash'></ion-icon>
          Eliminar
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button round outline color="iconos" icon-start (click)="goToDetails(item.adicional.codigo_viaje)">
          <ion-icon name='list-box'></ion-icon>
          Detalles
        </button>
      </ion-col>
    </ion-row>
  </ion-card>




</ion-content>