<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-buttons end style="margin-right: 2%;">
      <button ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col text-right col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.origen.lat==0.3581583?viajedet.origen.short_name:viajedet.origen.full_name}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-right col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.destino.lat==0.3581583?viajedet.destino.short_name:viajedet.destino.full_name}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.hora}}
          </ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label>{{viajedet.adicional.fecha|titlecase}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">
  <ion-segment color="danger" [(ngModel)]="detalle" style="background-color: white;">
    <ion-segment-button value="ruta">
      RUTA
    </ion-segment-button>
    <ion-segment-button value="descripcion">
      DESCRIPCION
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detalle">
    <ion-grid id="ruta" *ngSwitchCase="'ruta'">
      <div style="padding: 0 40px;">
        <ion-card (click)="viewMap(true)">
          <!-- <div style="position: relative;">
            <img src="assets/img/ruta23.png"> -->
          <!-- (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoRuta)"> -->
          <!-- <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(true)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab>
          </div> -->
          <ion-card-content>
            <ion-card-title>Ruta y lugares de paso </ion-card-title>
          </ion-card-content>

          <div text-center style="padding: 0 5% 5% 5%;">
            <ion-chip *ngFor="let lugares of viajedet.lugares" style="margin:2% 2% 0">
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{lugares.short_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>

      <!-- <img src="{{viajedet.ruta}}" /> -->
    </ion-grid>
    <ion-grid id="descripcion" *ngSwitchCase="'descripcion'">
      <h5>Descripci&oacute;n del viaje</h5><br>
      <ion-row>
        <ion-col>
          {{viajedet.adicional.descripcion_viaje}}
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-1>
          <ion-checkbox [(ngModel)]="terminos" color="danger" (ngModelChange)="verificar($event)"></ion-checkbox>
        </ion-col>
        <ion-col>
          Acepto t&eacute;rminos y condiciones <br><br>
          <div *ngIf="mensaje" ion-text color="danger">Marque esta casilla</div>
        </ion-col>
      </ion-row>
      <button ion-button round color="danger" large (click)="goToReservar()">reservar</button>
    </ion-grid>
  </div>
</ion-content>