<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-grid>
      <ion-row>
        <ion-col text-left col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.origen.short_name}}
          </ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.hora}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-left col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.destino.short_name}}
          </ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.fecha|titlecase}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">

  <ion-segment color="danger" [(ngModel)]="proceso_v" style="background-color: white;">
    <ion-segment-button value="ruta">
      RUTA
    </ion-segment-button>
    <ion-segment-button value="ubicacion">
      PUNTO ENCUENTRO
    </ion-segment-button>

    <ion-segment-button value="vehiculo">
      VEHICULO
    </ion-segment-button>
    <ion-segment-button value="descripcion">
      DESCRIPCION
    </ion-segment-button>
    <!-- <ion-segment-button value="solicitud">
      SOLICITUDES
    </ion-segment-button> -->
  </ion-segment>

  <!-- <div #map_canvas2 id="map_canvas2">
    </div> -->


  <div [ngSwitch]="proceso_v">
    <ion-grid id="descripcion" *ngSwitchCase="'descripcion'">
      <h5>Descripci&oacute;n del viaje</h5><br>
      <ion-row>
        <ion-col>
          {{viajedet.adicional.descripcion_viaje}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid id="vehiculo" *ngSwitchCase="'vehiculo'">
      <div style="padding: 0 40px;">
        <br>
        <h4 ion-text text-center>Autom&oacute;vil designado</h4><br>
        <ion-card>
          <img class="imgbck" [src]="'data:image/png;base64,' +carObject.foto">
          <ion-card-content>
            <ion-card-title text-center>{{carObject.placa}}</ion-card-title>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='car'></ion-icon>
                <ion-label color="dark">
                  {{carObject.marca|lowercase}}
                </ion-label>
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='car'></ion-icon>
                <ion-label color="dark">
                  {{carObject.modelo|lowercase}}
                </ion-label>
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='color-palette'></ion-icon>
                <ion-label color="dark">
                  {{carObject.color|lowercase}}
                </ion-label>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-grid>

    <ion-grid id="ubicacion" *ngSwitchCase="'ubicacion'">
      <div style="padding: 0 40px;">
        <ion-card>
          <div style="position: relative;">
            <img [src]="'data:image/png;base64,' +viajedet.adicional.fotoUbicacion"
              (click)="viewImgae('data:image/png;base64,' +viajedet.adicional.fotoUbicacion)">
            <!-- <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(false)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab> -->
          </div>
          <ion-card-content>
            <ion-card-title>Direcci&oacute;n de ubicaci&oacute;n </ion-card-title>
          </ion-card-content>
          <div style="padding: 0 5% 5% 5%;">
            <ion-chip>
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{viajedet.puntoEncuentro.full_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-grid>
    <!-- [style.display]="proceso_v == 'ruta' ? 'block' : 'none'" -->
    <ion-grid id="ruta" *ngSwitchCase="'ruta'">

      <div style="padding: 0 40px;">
        <ion-card>
          <div style="position: relative;">
            <img [src]="'data:image/png;base64,' +viajedet.adicional.fotoRuta"
              (click)="viewImgae('data:image/png;base64,' +viajedet.adicional.fotoRuta)">
            <!-- <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(true)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab> -->
          </div>
          <ion-card-content>
            <ion-card-title>Lugares de paso </ion-card-title>
          </ion-card-content>

          <div text-center style="padding: 0 5% 5% 5%;">
            <ion-chip *ngFor="let lugares of viajedet.lugares" style="margin:2% 2% 0">
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{lugares.short_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-grid>





    <ion-grid id="request" *ngSwitchCase="'solicitud'">
      <ion-card *ngFor="let item of viajedet.solicitud">
        <ion-card-content (click)="gotoInfo(item.id-1)">
          <ion-row>
            <ion-col col-4>
              <div id="circular">
                <img src="{{item.fotografia}}">
              </div>
            </ion-col>
            <ion-col>
              <strong>{{item.nombre}}</strong><br>
              <strong>{{item.apellido}}</strong> <br>
              <strong>{{item.genero}}</strong>
            </ion-col>
            <ion-col>
              <strong>{{item.facultad}}</strong><br>
              <strong>{{item.carrera}}</strong>
            </ion-col>
          </ion-row>
        </ion-card-content>

        <ion-row id="foot">
          <ion-col text-center>
            <button ion-button clear color="iconos" icon-start>
              <ion-icon name='checkmark'></ion-icon>
              aceptar
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear color="iconos" icon-start>
              <ion-icon name='close'></ion-icon>
              rechazar
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>

</ion-content>