page-det-ruta-c {
  // ion-segment {
  //   padding-top: 15px;
  // }
  .grid#descripcion,
  .grid#auto {
    padding: 8% 10%;
  }

  ion-content #centerImg {
    width: 100% !important;
    height: auto !important;
    padding: 5% 10%;
  }
  .card {
    width: 100%;
    margin: 0px 0px 5% 0px;
  }

  .row#foot {
    border-top: 1px solid #ececec;
  }
  .grid#request {
    //background-color: #d5cdcb;
    padding: 0px !important;
  }
  .grid#ubicacion,
  .grid#ruta {
    padding: 0px !important;
  }

  .relative {
    position: relative;
  }

  #absoluto_title {
    position: absolute;
    bottom: 0;
    padding-bottom: 8%;
    background: white;
  }
  .absolute-text {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background: white;
    padding: 10px;
    width: 100%;
    text-align: left;
  }
  .absolute-text a {
    font-size: 16px;
    //color: #b92b27;
  }

  div.user-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  img#fotografia {
    display: inline;
    margin: 0 auto;
    //margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
  }

  #circular {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 20%;
  }

  #circular img {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    //margin-left: -50px;
  }

  .imgbck {
    width: 100%;
    display: block;
    height: auto;
    border: 0;
  }

  .fotoRelative {
    width: 100% !important;
    height: 100% !important;
  }

  ion-header .label {
    margin: unset;
    color: white;
  }
  ion-content.cards-bg {
    background-color: #f4f4f7;
  }

 

  
}
