<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-grid>
      <ion-row>
        <ion-col text-left col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.origen.lat==0.3581583?viajedet.origen.short_name:viajedet.origen.full_name}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-left col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.destino.lat==0.3581583?viajedet.destino.short_name:viajedet.destino.full_name}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.hora}}
          </ion-label>
        </ion-col>

        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.fecha|titlecase}}
          </ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">

  <ion-segment color="danger" [(ngModel)]="proceso_v" style="background-color: white;">
    <ion-segment-button value="ruta">
      RUTA
    </ion-segment-button>
    <!-- <ion-segment-button value="ubicacion">
      PUNTO ENCUENTRO
    </ion-segment-button> -->

    <ion-segment-button value="vehiculo">
      VEHICULO
    </ion-segment-button>
    <ion-segment-button value="descripcion">
      DESCRIPCION
    </ion-segment-button>
    <ion-segment-button value="solicitud">
      SOLICITUDES
    </ion-segment-button>
  </ion-segment>

  <!-- <div #map_canvas2 id="map_canvas2">
    </div> -->


  <div [ngSwitch]="proceso_v">
    <ion-grid id="descripcion" *ngSwitchCase="'descripcion'">
      <h5>Descripci&oacute;n del viaje</h5><br>
      <ion-row>
        <ion-col>
          {{viajedet.adicional.descripcion_viaje}}
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col><strong>Asientos a disposici&oacute;n:</strong> </ion-col>
        <ion-col>
          {{viajedet.adicional.personas}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid id="vehiculo" *ngSwitchCase="'vehiculo'">
      <div style="padding: 0 40px;">
        <br>
        <h4 ion-text text-center>Autom&oacute;vil designado</h4><br>
        <ion-card>
          <img class="imgbck" [src]="carObject.foto!=null||undefined?carObject.foto:'assets/imgs/car_null.png'">
          <ion-card-content>
            <ion-card-title text-center>{{carObject.placa}}</ion-card-title>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='car'></ion-icon>
                <ion-label color="dark">
                  {{carObject.marca|lowercase}}
                </ion-label>
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='car'></ion-icon>
                <ion-label color="dark">
                  {{carObject.modelo|lowercase}}
                </ion-label>
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small icon-start>
                <ion-icon color="iconos" name='color-palette'></ion-icon>
                <ion-label color="dark">
                  {{carObject.color|lowercase}}
                </ion-label>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-grid>

    <ion-grid id="ubicacion" *ngSwitchCase="'ubicacion'">
      <div style="padding: 0 40px;">
        <ion-card>
          <div style="position: relative;">
            <img src="assets/imgs/ubicacion23.png">
            <!-- (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoUbicacion)"> -->
            <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(false)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab>
          </div>
          <ion-card-content>
            <ion-card-title>Ubicaci&oacute;n exacta de salida </ion-card-title>
          </ion-card-content>
          <div style="padding: 0 5% 5% 5%;">
            <ion-chip>
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{viajedet.puntoEncuentro.full_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-grid>
    <!-- [style.display]="proceso_v == 'ruta' ? 'block' : 'none'" -->
    <ion-grid id="ruta" *ngSwitchCase="'ruta'">

      <div style="padding: 0 40px;">
        <ion-card (click)="viewMap(true)">
          <!-- <div style="position: relative;">
            <img src="assets/imgs/ruta23.png">
            <!-- (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoRuta)"> -->
          <!-- <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(true)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab>
          </div> -->
          <ion-card-content>
            <ion-card-title>Lugares de paso </ion-card-title>
          </ion-card-content>

          <div style="padding: 0 5% 5% 5%;">
            <ion-chip *ngFor="let lugares of viajedet.lugares" style="margin:2% 2% 0">
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{lugares.short_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>

        <ion-card (click)="viewMap(false)">
          <!-- <div style="position: relative;">
              <img src="assets/imgs/ubicacion23.png"> -->
          <!-- (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoUbicacion)"> -->
          <!-- <ion-fab right bottom style="right: 4%;">
                <button ion-fab color="iconos" (click)="viewMap(false)">
                  <ion-icon name="map"></ion-icon>
                </button>
              </ion-fab>
            </div> -->
          <ion-card-content>
            <ion-card-title>Ubicaci&oacute;n exacta de salida </ion-card-title>
          </ion-card-content>
          <div style="padding: 0 5% 5% 5%;">
            <ion-chip>
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{viajedet.puntoEncuentro.full_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-grid>


    <ion-grid id="request" *ngSwitchCase="'solicitud'">
      <h3 style="margin-top: 10%;padding: 5%;" *ngIf="items==0" ion-text text-center color="danger">
        Todav&iacute;a
        no hay ninguna solicitud de viaje</h3>

      <ion-card [hidden]="items==0" *ngFor="let item of solicitudArray">
        <ion-card-content>
          <ion-row>
            <ion-col col-4>
              <div id="circular">
                <img [src]="item.foto!=null||undefined?item.foto:'assets/imgs/blank-avatar.png'">
              </div>
            </ion-col>
            <ion-col>
              {{item.primer_nombre|titlecase}} {{item.segundo_nombre|titlecase}}<br>
              {{item.primer_apellido|titlecase}} <br><br>
              <strong>G&eacute;nero: </strong>{{item.genero=='M'?'Masculino':'Femenino'}}
            </ion-col>
            <ion-col text-center>
              <ion-row>
                <ion-col><strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{item.celular}}</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="sendWhatsapp(item)">
                  <ion-icon item-start name="logo-whatsapp" color="iconos" style="font-size: 1.6em;"></ion-icon>
                  &nbsp;&nbsp;&nbsp;WhatsApp
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col><a [href]="'tel:'+item.celular" style="text-decoration:none;color: black;">
                    <ion-icon item-start name="call" color="iconos" style="font-size: 1.6em;"></ion-icon>
                    &nbsp;&nbsp;&nbsp;Llamar
                  </a></ion-col>
              </ion-row>
            </ion-col><!-- celular -->
          </ion-row>
          <br>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col>
              {{item.dependencias|titlecase}}
            </ion-col>
          </ion-row>
        </ion-card-content>

        <!-- <ion-row id="foot">
          <ion-col text-center>
            <button ion-button clear color="iconos" icon-start>
              <ion-icon name='checkmark'></ion-icon>
              aceptar
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear color="iconos" icon-start>
              <ion-icon name='close'></ion-icon>
              rechazar
            </button>
          </ion-col>
        </ion-row> -->
      </ion-card>
    </ion-grid>

  </div>

</ion-content>