page-set-map-origen {
  .toolbar-title-md {
    font-size: 1.8rem !important; // Default should be 2.0rem
  }

  #map_canvas22 {
    height: 100%;
    width: 100%;
  }

  #centerMarkerImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40px; // image width
    height: 40px; // image height
    z-index: 1;
  }
}

ion-app._gmaps_cdv_ .ion-page:not(._gmaps_cdv_),
ion-app._gmaps_cdv_ ion-modal:not(._gmaps_cdv_) {
    display: none;
}
