<ion-header>
  <ion-navbar color="danger" text-center>
    <ion-buttons end style="margin-right: 2%;">
      <button ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" style="font-size: 1.8em;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col text-right col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.origen.lat==0.3581583?viajedet.origen.short_name:viajedet.origen.full_name}}
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col text-right col-1>
          <ion-icon name="pin" color="light" small></ion-icon>
        </ion-col>
        <ion-col text-left>
          <ion-label>
            {{viajedet.destino.lat==0.3581583?viajedet.destino.short_name:viajedet.destino.full_name}}
          </ion-label>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.hora}}
          </ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label>
            {{viajedet.adicional.fecha|titlecase}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="!conductor" style="background-color: #f4f4f7;">

  <ion-segment color="danger" [(ngModel)]="detalle" style="background-color: white;">
    <ion-segment-button value="ruta">
      RUTA
    </ion-segment-button>
    <!-- <ion-segment-button value="ubicacion">
      PUNTO ENCUENTRO
    </ion-segment-button> -->
    <ion-segment-button value="descripcion">
      DESCRIPCION
    </ion-segment-button>
    <ion-segment-button value="conductor">
      conductor
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detalle">

    <ion-grid id="descripcion" *ngSwitchCase="'descripcion'">
      <h5>Descripci&oacute;n del viaje</h5><br>
      <ion-row>
        <ion-col>
          {{viajedet.adicional.descripcion_viaje}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid id="ruta" *ngSwitchCase="'ruta'">
      <div style="padding: 0 40px;">
        <ion-card (click)="viewMap(true)">
          <!-- <div style="position: relative;">
            <img src="assets/imgs/ruta23.png"> -->
          <!-- (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoRuta)"> -->
          <!-- <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(true)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab>
          </div> -->
          <ion-card-content>
            <ion-card-title>Lugares de paso </ion-card-title>
          </ion-card-content>

          <div text-center style="padding: 0 5% 5% 5%;">
            <ion-chip *ngFor="let lugares of viajedet.lugares" style="margin:2% 2% 0">
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{lugares.short_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>

        <ion-card (click)="viewMap(false)">
          <!-- <div style="position: relative;">
              <img src=assets/imgs/ubicacion23.png>  -->
          <!--  (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoUbicacion)"> -->
          <!-- <ion-fab right bottom style="right: 4%;">
                <button ion-fab color="iconos" (click)="viewMap(false)">
                  <ion-icon name="map"></ion-icon>
                </button>
              </ion-fab>
            </div> -->
          <ion-card-content>
            <ion-card-title>Ubicaci&oacute;n exacta de salida </ion-card-title>
          </ion-card-content>
          <div style="padding: 0 5% 5% 5%;">
            <ion-chip>
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{viajedet.puntoEncuentro.full_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-grid>
    <ion-grid id="ubicacion" *ngSwitchCase="'ubicacion'">
      <div style="padding: 0 40px;">
        <ion-card>
          <div style="position: relative;">
            <img src=assets/imgs/ubicacion23.png> <!--
              (click)="viewImage('data:image/png;base64,' +viajedet.adicional.fotoUbicacion)"> -->
            <ion-fab right bottom style="right: 4%;">
              <button ion-fab color="iconos" (click)="viewMap(false)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab>
          </div>
          <ion-card-content>
            <ion-card-title>Ubicaci&oacute;n exacta de salida</ion-card-title>
          </ion-card-content>
          <div style="padding: 0 5% 5% 5%;">
            <ion-chip>
              <ion-icon name="pin" color="iconos"></ion-icon>
              <ion-label>{{viajedet.puntoEncuentro.full_name}}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>

    </ion-grid>

    <ion-grid *ngSwitchCase="'conductor'">
      <br><br>
      <div id="circular">
        <img class="imgbck"
          [src]="conductorObject.foto!=null||undefined?conductorObject.foto:'assets/imgs/blank-avatar.png'">
      </div>

      <h4 style="margin-bottom: 1%;" ion-text text-center>{{conductorObject.primer_nombre|titlecase}}
        {{conductorObject.segundo_nombre|titlecase}}
        {{conductorObject.primer_apellido|titlecase}}</h4>

      <br>

      <div style="padding: 0px 30px;">

        <ion-card>
          <ion-card-header>
            Preferencias
          </ion-card-header>
          <ion-card-content style="padding: 0px 13px 0px;">
            <div text-center>
              <ion-row id="showicon">
                <ion-col *ngFor="let obj of preferenciasObjetos">
                  <ion-label><strong>{{obj.titulo}}</strong></ion-label>
                  <ion-icon [style.color]="obj.nivel==1?'#e6bcbc':(obj.nivel==2?'#ea6b7c':'red')" [name]="obj.iconos">
                  </ion-icon>
                  <ion-label style="font-size: 1rem;">
                    {{obj.nivel==1?'Nada':(obj.nivel==2?'Poco':'Mucho')}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </div> <!-- preferencias -->
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            Informaci&oacute;n personal
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <strong style="font-size: 1.3em;">&nbsp;&nbsp;&nbsp;{{conductorObject.celular}}</strong>
              </ion-col>
              <ion-col (click)="sendWhatsapp(conductorObject.celular)">
                <ion-icon item-start name="logo-whatsapp" color="iconos" style="font-size: 1.6em;"></ion-icon>
                &nbsp;&nbsp;&nbsp;WhatsApp
              </ion-col>
              <ion-col>
                <a [href]="'tel:'+conductorObject.celular" style="text-decoration:none;color: black;">
                  <ion-icon item-start name="call" color="iconos" style="font-size: 1.6em;"></ion-icon>
                  &nbsp;&nbsp;&nbsp;Llamar
                </a>
              </ion-col>

            </ion-row><!-- celular -->
            <ion-row>
              <ion-col text-center (click)="goToAuto(true)">
                <button ion-button icon-start round outline color="iconos">
                  <ion-icon name="car"></ion-icon>
                  Veh&iacute;culo
                </button>
              </ion-col>
            </ion-row><!-- auto -->
          </ion-card-content>
        </ion-card> <!-- informacion personal -->

        <ion-card>
          <ion-card-header>
            Acad&eacute;mico
          </ion-card-header>
          <ion-card-content>
            {{conductorObject.dependencias|titlecase}}
          </ion-card-content>
        </ion-card>
      </div> <!-- group cuando no es editar -->
    </ion-grid>


  </div>
</ion-content>